<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NG77922" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<a
  class="skip-navigation"
  tabindex="1"
  href="#main-content"
>{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header-container">
    <div class="logo">
      <a href="https://www.dottedsign.com/zh-tw/">
        <img
          src="{{asset 'dottedsign.svg'}}"
          alt="{{t 'home_page' name=help_center.name}}"
        >
      </a>
    </div>
    <div class="nav-wrapper">
      <button
        class="menu-button"
        aria-controls="user-nav"
        aria-expanded="false"
        aria-label="{{t 'toggle_navigation'}}"
      >
        <div class="menu-icon menu-icon--open">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            width="24"
          >
            <path
              d="M0 0h24v24H0z"
              fill="none"
            />
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
        </div>
        <div class="menu-icon menu-icon--close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            width="24"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            />
            <path
              d="M0 0h24v24H0z"
              fill="none"
            /></svg>
        </div>
        </svg>
      </button>
      <nav
        class="user-nav"
        id="user-nav"
      >
        <!-- {{link 'community'}} -->
        <!-- {{link 'new_request' class='submit-a-request'}} -->
        <a href="https://www.dottedsign.com/zh-tw/product-tour">{{ dc 'header_product_tour' }}</a>
        <a href="https://www.dottedsign.com/zh-tw/pricing">{{ dc 'header_pricing' }}</a>
        <a href="https://www.dottedsign.com/zh-tw/request-demo">{{ dc 'header_request_a_demo' }}</a>
        {{#if signed_in}}
        <a
          role="button"
          href="https://www.dottedsign.com/zh-tw/tasks"
          class="signup"
        >
          <span>{{ dc 'header_btn_home' }}</span>
        </a>
        {{else}}
        <div class="menu-separate"></div>
        <a
          data-auth-action="signin"
          role="button"
          href="javascript:;"
          class="login"
        >
          <span>{{ dc 'header_login_text' }}</span>
        </a>
        <a
          data-auth-action="signin"
          role="button"
          href="javascript:;"
          class="signup"
        >
          <span>{{ dc 'header_signup_text' }}</span>
        </a>
        {{/if}}
      </nav>
      {{#if signed_in}}
      <!-- <div class="user-info dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{user_avatar class="user-avatar"}}
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <div class="dropdown-menu" role="menu">
            {{link "my_activities" role="menuitem"}}
            {{my_profile role="menuitem"}}
            {{change_password role="menuitem"}}
            {{link "sign_out" role="menuitem"}}
          </div>
        </div> -->
      {{else}}
      <!-- {{#link "sign_in"}}{{/link}} -->
      {{/if}}
    </div>
  </div>
</header>

<!-- Start of dottedsignsupport Zendesk Widget script -->
<script
  id="ze-snippet"
  src="https://static.zdassets.com/ekr/snippet.js?key=f1d0ac2a-ac9f-4131-afbf-ac18ea4aad5a"
> </script>
<!-- End of dottedsignsupport Zendesk Widget script -->

<script>
  // Set global querySelector
  var $ = dom => document.querySelector(dom);

  (async () => {
    const menuButton = $('.menu-button');
    const menuButtonOpen = $('.menu-icon--open');
    const menuButtonClose = $('.menu-icon--close');
    const header = $('.header');
    const body = $('body');
    let menuIconOpen = false;
    let isTop = true;

    // Menu icon toggle
    const setMenuToggle = () => {
      menuButtonOpen.style.display = menuIconOpen ? 'none' : 'block';
      menuButtonClose.style.display = menuIconOpen ? 'block' : 'none';
      body.style.overflowY = menuIconOpen ? 'hidden' : 'scroll';
    }
    menuButton.addEventListener('click', () => {
      menuIconOpen = !menuIconOpen;
      setMenuToggle();
    })
    setMenuToggle();

    // Header style change
    const handleScroll = () => {
      isTop = window.pageYOffset < 80;
      toggleHeaderStyle();
    }
    const toggleHeaderStyle = () => {
      header.style.boxShadow = isTop ? '' : 'rgba(74, 74, 74, 0.3) 0px 2px 4px 0px';
    }
    window.addEventListener('scroll', throttle(handleScroll));

    function throttle(fn, wait = 20) {
      let time = Date.now();
      return function () {
        if ((time + wait - Date.now()) < 0) {
          fn();
          time = Date.now();
        }
      }
    }
  })();
</script>

<style>
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
    width: 100vw;
  }

  .header-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    align-items: center;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
  }

  @media (min-width: 1160px) {
    .header-container {
      padding: 0;
      width: 90%;
    }
  }

  .logo img {
    max-height: 37px;
  }

  .user-nav {
    text-align: center;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    transition: all .1s;
    font-size: 14px;
    height: 100vh;
  }

  @media (min-width: 768px) {
    .user-nav {
      height: auto;
      position: relative;
    }
  }

  .user-nav[aria-expanded="true"] {
    background-color: #fff;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 2px 0;
    right: 0;
    left: 0;
    top: var(--header-height);
    z-index: 1;
    font-size: 20px;
  }

  .user-nav[aria-expanded="true"]>a {
    display: block;
    margin: var(--menu-distance) auto;
  }

  .nav-wrapper {
    display: flex;
  }

  .user-nav a {
    font-size: 20px;
    font-weight: 500;
    display: none;
    width: auto;
    padding: 5px 10px;
    margin: 0px 4px;
    border-radius: 30px;
  }

  @media (min-width: 768px) {
    .user-nav a {
      font-size: 16px;
      display: inline-block;
    }

    .user-nav a:active {
      color: rgb(31, 46, 78);
      background-color: rgb(247, 186, 62);
    }
  }

  [dir="rtl"] .nav-wrapper a {
    padding: 0 0 0 20px;
  }

  .nav-wrapper .menu-button {
    background: none;
    border: 0;
    color: $link_color;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    width: auto;
  }

  .nav-wrapper .menu-button .menu-icon {
    transform: scale(1.6);
  }

  @media (min-width: 768px) {
    .nav-wrapper .menu-button {
      display: none;
    }
  }

  .nav-wrapper .menu-button .icon-menu {
    vertical-align: middle;
    width: 13px;
    height: 13px;
  }

  [dir="rtl"] .nav-wrapper .menu-button {
    margin-left: 10px;
    margin-right: 0;
  }

  .nav-wrapper .menu-button:hover,
  .nav-wrapper .menu-button:focus,
  .nav-wrapper .menu-button:active {
    background-color: transparent;
    color: $link_color;
  }

  .user-nav .menu-separate {
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
    margin: var(--menu-distance) auto;
  }

  @media (min-width: 768px) {
    .user-nav .menu-separate {
      display: none;
    }
  }

  .skip-navigation {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 14px;
    justify-content: center;
    left: -999px;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    position: absolute;
    top: auto;
    z-index: -999;
  }

  .skip-navigation:focus,
  .skip-navigation:active {
    left: auto;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    top: auto;
    z-index: 999;
  }

  .login,
  .signup {
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    min-width: 120px;
    max-width: 230px;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    transition: all 0.3s linear 0s;
    border-radius: 20px;
    padding: 8px 20px;
  }

  .login {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid rgba(0, 0, 0, 0.8);
  }

  @media (min-width: 768px) {
    .login:active {
      border: 2px solid rgb(247, 186, 62);;
    }
  }

  .signup {
    background-color: var(--primary);
    color: #fff !important;
    border: 2px solid var(--primary);
  }

  .login:hover {
    background-color: rgb(249, 249, 249);
  }

  .signup:hover {
    background-color: rgb(73, 88, 202);
  }

  .login>span,
  .signup>span {
    font-weight: 400;
    -webkit-box-align: center;
    align-items: center;
    white-space: normal;
    word-break: break-word;
    width: 100%;
    flex: 1 1 auto;
  }

  @media (min-width: 768px) {

    .login,
    .signup {
      border-radius: 16px;
      padding: 2px 20px;
    }
  }
</style>