<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>

  <div class="section-container">
    <article class="section-content--article">
      <header class="page-header">
        <h1 class="page-title-block">{{section.name}}</h1>
        {{#if settings.show_follow_section}}
          <div class="section-subscribe follow-button">{{subscribe}}</div>
        {{/if}}
        {{#if section.description}}
          <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </header>

      {{#if section.sections}}
        <ul id="main-content" class="section-list section-list--collapsed">
          {{#each section.sections}}
          <li class="section-list-item">
              <a href="{{url}}">
                <span>{{name}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" aria-hidden="true">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5"/>
                </svg>
              </a>
            </li>
          {{/each}}
          <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
        </ul>
      {{/if}}


      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
              {{#if promoted}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 12 12" class="icon-star" title="{{t 'promoted'}}">
                  <path fill="currentColor" d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z"/>
                </svg>
              {{/if}}
              {{#if internal}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                  <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                  <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                </svg>
              {{/if}}
              <a href="{{url}}" class="article-list-link">{{title}}</a>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <i class="section-empty">
          <a href="{{section.url}}">{{t 'empty'}}</a>
        </i>
      {{/if}}

      {{pagination}}

    </article>

    <div class="section-divider"></div>

    <aside class="section-content--aside">
      <div class="article-relatives">
        {{#if settings.show_recently_viewed_articles}}
          {{recent_articles}}
        {{/if}}
      </div>
    </aside>
  </div>
</div>

<style>
  .section-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .section-container .page-header {
    margin-bottom: 18px;
  }

  @media (min-width: 1024px) {
    .section-container {
      flex-direction: row;
    }
    .section-content--article {
      padding-right: 80px;
      flex: 0 0 var(--page-article-space);
    }
    .section-content--aside {
      flex: 0 0 var(--page-aside-space);
    }
  }

  /* Section list */
  .section-list {
    margin: 40px 0;
  }

  .section-list--collapsed .section-list-item:nth-child(1n + 6) {
    display: none;
  }

  .section-list-item {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 15px 0;
  }

  .section-list-item:first-child {
    border-top: 1px solid #ddd;
  }

  .section-list-item a {
    align-items: center;
    color: $text_color;
    display: flex;
    justify-content: space-between;
  }

  .see-all-sections-trigger {
    cursor: pointer;
    display: block;
    padding: 15px;
    text-align: center;
  }

  .see-all-sections-trigger[aria-hidden="true"] {
    display: none;
  }

  /* Article list */
  .article-list {
    margin-left: 23px;
    text-indent: -9px;
    line-height: 2;
  }

  .article-list .article-list-item::before {
    content: "•";
    color: var(--link-color);
    font-weight: bold;
    display: inline-block; 
    width: 2px;
  }

  .article-list .article-list-item a {
    color: var(--link-color);
  }

  /* page header follow */
  .section-container .page-header .section-subscribe {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  /* divider */
  .section-divider {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 45px 0;
  }
</style>
