<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>

  <div class="article-container" id="article-container">
    <article id="main-content" class="article">
      <header class="article-header">
        <h1 title="{{article.title}}" class="article-title page-title-block">
          {{article.title}}
          {{#if article.internal}}
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
              <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
              <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
            </svg>
          {{/if}}
        </h1>

        <div class="article-header-info-container">
          <div class="article-author">
            {{#if settings.show_article_author}}
              <div class="avatar article-avatar">
                {{#if article.author.agent}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="icon-agent">
                    <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
                  </svg>
                {{/if}}
                <img src="{{article.author.avatar_url}}" alt="" class="user-avatar"/>
              </div>
            {{/if}}
            <div class="article-meta">
              {{#if settings.show_article_author}}
                {{#link 'user_profile' id=article.author.id}}
                  {{article.author.name}}
                {{/link}}
              {{/if}}
  
              <ul class="meta-group">
                {{#is article.created_at article.edited_at}}
                  <li class="meta-data">{{date article.created_at timeago=true}}</li>
                {{else}}
                  <li class="meta-data">{{date article.edited_at timeago=true}}</li>
                  <li class="meta-data">{{t 'updated'}}</li>
                {{/is}}
              </ul>
            </div>
          </div>
  
          {{#if settings.show_follow_article}}
            <div class="article-subscribe follow-button">{{subscribe}}</div>
          {{/if}}
        </div>
      </header>

      <section class="article-info">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>

          <div class="article-attachments">
            <ul class="attachments">
              {{#each attachments}}
                <li class="attachment-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
                  </svg>
                  <a href="{{url}}" target="_blank">{{name}}</a>
                  <div class="attachment-meta meta-group">
                    <span class="attachment-meta-item meta-data">{{size}}</span>
                    <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">Download</a>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </section>

      <footer>
        <div class="article-footer">
          {{#if settings.show_article_comments}}
            {{#if comments}}
              <a href="#article-comments" class="article-comment-count" title="{{t 'go_to_comments'}}">
                <span class="visibility-hidden">
                  {{t 'comments_count' count=article.comment_count}}
                </span>
                <span aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="article-comment-count-icon">
                    <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                  </svg>
                  {{article.comment_count}}
                </span>
              </a>
            {{/if}}
          {{/if}}
        </div>
        {{#with article}}
          <div class="article-votes">
            <span class="article-votes-question" id="article-votes-label">{{t 'was_this_article_helpful'}}</span>
            <div class="article-votes-controls" role="group" aria-labelledby="article-votes-label">
              {{vote 'up' role='radio' class='button article-vote article-vote-up' selected_class="button-primary"}}
              {{vote 'down' role='radio' class='button article-vote article-vote-down' selected_class="button-primary"}}
            </div>
            <div class="article-votes-count">
              {{vote 'label' class='article-vote-label'}}
            </div>
          </div>
        {{/with}}

        <div class="article-more-questions">
          {{request_callout}}
        </div>
      </footer>

      {{#if settings.show_article_comments}}
        <div class="article-comments" id="article-comments">
          <section class="comments">
            <header class="comment-overview">
              <p class="comment-callout">{{t 'comments_count' count=article.comment_count}}</p>
              {{#if comments}}
                <div class="dropdown comment-sorter">
                  <button class="dropdown-toggle" aria-haspopup="true">
                    {{t 'sort_by'}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
                    </svg>
                  </button>
                  <span class="dropdown-menu" role="menu">
                    {{#each comment_sorters}}
                      <a aria-selected="{{selected}}" href="{{url}}" role="menuitem">{{name}}</a>
                    {{/each}}
                  </span>
                </div>
              {{/if}}
            </header>

            <ul id="comments" class="comment-list">
              {{#each comments}}
                <li id="{{anchor}}" class="comment">
                  <div class="comment-wrapper">
                    <div class="comment-info">
                      <div class="comment-author">
                        <div class="avatar comment-avatar">
                          {{#if author.agent}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="icon-agent">
                              <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
                            </svg>
                          {{/if}}
                          <img src="{{author.avatar_url}}" alt="" class="user-avatar"/>
                        </div>
                        <div class="comment-meta">
                          <span title="{{author.name}}">
                            {{#link 'user_profile' id=author.id}}
                              {{author.name}}
                            {{/link}}
                          </span>

                          <ul class="meta-group">
                            {{#if editor}}
                              <li class="meta-data">{{date edited_at timeago=true}}</li>
                              <li class="meta-data">{{t 'edited'}}</li>
                            {{else}}
                              <li class="meta-data">{{date created_at timeago=true}}</li>
                            {{/if}}
                          </ul>
                        </div>
                        <div class="comment-labels">
                          {{#with ticket}}
                            <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                              {{t 'request'}}{{id}}
                            </a>
                          {{/with}}
                          {{#if pending}}
                            <span class="comment-pending status-label status-label-pending">{{t 'pending_approval'}}</span>
                          {{/if}}
                        </div>
                      </div>

                      <section class="comment-body">{{body}}</section>
                    </div>

                    <div class="comment-actions-container">
                      <div class="comment-vote vote" role="group">
                        {{#vote 'up' role='radio' class='vote-up' selected_class='vote-voted'}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                        </svg>
                        {{/vote}}
                        {{vote 'sum' class='vote-sum'}}
                        {{#vote 'down' role='radio' class='vote-down' selected_class='vote-voted'}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                        </svg>
                        {{/vote}}
                      </div>
                      <div class="comment-actions actions">
                        {{#actions}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                         <path fill="none" stroke="currentColor" d="M13.17 3.07l-1.64.71c-.48-.4-1.03-.72-1.63-.94l-.22-1.79a.511.511 0 00-.4-.44C8.86.54 8.44.5 8 .5c-.44 0-.86.04-1.28.11-.22.04-.38.22-.4.44l-.21 1.79c-.6.22-1.15.54-1.63.94l-1.65-.71a.491.491 0 00-.58.13c-.55.65-.99 1.4-1.29 2.21-.08.21 0 .44.18.58l1.45 1.08a4.91 4.91 0 000 1.87l-1.45 1.08c-.18.13-.25.37-.18.58.3.81.74 1.55 1.28 2.2.14.17.38.22.58.13l1.65-.71c.48.4 1.03.72 1.63.94l.21 1.79c.03.22.19.4.4.44.43.07.85.11 1.29.11.44 0 .86-.04 1.28-.11.22-.04.38-.22.4-.44l.21-1.79c.6-.22 1.15-.54 1.63-.94l1.65.71c.2.09.44.04.58-.13.54-.65.98-1.39 1.28-2.2.08-.21 0-.44-.18-.57L13.4 8.95c.07-.32.1-.63.1-.95s-.03-.63-.09-.94l1.45-1.08c.18-.13.25-.37.18-.58-.3-.81-.74-1.55-1.28-2.2a.51.51 0 00-.59-.13z"/>
                         <circle cx="8" cy="8" r="2.5" fill="none" stroke="currentColor"/>
                        </svg>
                        {{/actions}}
                      </div>
                    </div>
                  </div>
                </li>
              {{/each}}
            </ul>

            {{pagination}}

            {{#form 'comment' class='comment-form'}}
              <div class="avatar comment-avatar">
                {{user_avatar class='user-avatar'}}
              </div>
              <div class="comment-container">
                {{wysiwyg 'body'}}
                <div class="comment-form-controls">
                  {{input type='submit' class="button button-large"}}
                </div>
              </div>
            {{/form}}

            <p class="comment-callout">{{comment_callout}}</p>
          </section>
        </div>
      {{/if}}
    </article>

    <aside class="article-sidebar" aria-labelledby="section-articles-title">
      <div class="article-relatives">
        {{#if settings.show_recently_viewed_articles}}
          {{recent_articles}}
        {{/if}}
        {{#if settings.show_related_articles}}
          {{related_articles}}
        {{/if}}
      </div>
    </aside>
  </div>
</div>

<script>
  (async () => {
    const aNode = document.createElement("a");
    const liNode = document.createElement("li");
    const articleName = document.createTextNode(document.title.split('–')[0]);

    // Add article name after breadcrumbs.
    aNode.appendChild(articleName);
    liNode.appendChild(aNode);
    document.querySelector(".breadcrumbs").appendChild(liNode);
  })();
</script>

<style>
  .article {
    flex: 1 0 auto;
  }

  @media (min-width: 1024px) {
    .article {
      max-width: var(--page-article-space);
      min-width: 640px;
      padding-right: 80px;
      flex: 0 0 var(--page-article-space);
    }
  }

  .article-container {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1024px) {
    .article-container {
      flex-direction: row;
    }
  }

  .article-header {
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    .article-header {
      margin-top: 0;
    }
  }

  .article-header-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .article-avatar {
    margin-right: 5px;
  }

  .article-author {
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    .article-title {
      flex-basis: 100%;
      /* Take entire row */
    }
  }

  .article-title .icon-lock {
    position: relative;
    left: -5px;
    vertical-align: baseline;
  }

  .article [role="button"] {
    flex-shrink: 0;
    width: 100%;
  }

  @media (min-width: 768px) {
    .article [role="button"] {
      width: auto;
    }
  }

  .article-info {
    max-width: 100%;
  }

  .article-meta {
    line-height: 1.3;
    display: inline-block;
    vertical-align: middle;
  }

  .article-meta .meta-group > * {
    color: rgba(0, 0, 0, 0.4);
  }

  .article-body img {
    height: auto;
    max-width: 100%;
  }

  .article-body ul, .article-body ol {
    padding-left: 20px;
    list-style-position: outside;
    margin: 20px 0 20px 20px;
  }

  [dir="rtl"] .article-body ul, [dir="rtl"] .article-body ol {
    padding-right: 20px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 20px;
  }

  .article-body ul > ul, .article-body ol > ol, .article-body ol > ul, .article-body ul > ol, .article-body li > ul, .article-body li > ol {
    margin: 0;
  }

  .article-body ul {
    list-style-type: disc;
  }

  .article-body a:visited {
    color: darken($link_color, 20%);
  }

  .article-body code {
    background: darken($background_color, 3%);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 2px;
  }

  .article-body pre {
    background: darken($background_color, 3%);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 15px;
    overflow: auto;
    white-space: pre;
  }

  .article-body blockquote {
    border-left: 1px solid #ddd;
    color: lighten($text_color, 20%);
    font-style: italic;
    padding: 0 15px;
  }

  .article-body > p:last-child {
    margin-bottom: 0;
  }

  .article-content {
    line-height: 1.6;
    margin: 40px 0;
    word-wrap: break-word;
    color: var(--ds-text);
  }

  .article-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .article-comment-count {
    color: lighten($text_color, 20%);
    font-weight: 300;
  }

  .article-comment-count:hover {
    text-decoration: none;
  }

  .article-comment-count-icon {
    vertical-align: middle;
    color: $brand_color;
    width: 18px;
    height: 18px;
  }

  .article-sidebar {
    margin-bottom: 20px;
    padding: 0;
  }

  @media (min-width: 1024px) {
    .article-sidebar {
      height: auto;
      flex: 0 0 var(--page-aside-space);
    }
  }

  .article-relatives {
    display: flex;
    flex-direction: column;
  }

  .article-relatives > * {
    flex: 1 0 50%;
    min-width: 50%;
    overflow-wrap: break-word;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .article-relatives > *:last-child {
    margin-bottom: 0;
  }

  .article-votes {
    border-top: 1px solid #ddd;
    padding: var(--comment-space) 0 10px;
    text-align: left;
  }

  .article-vote {
    margin: 10px 5px;
    min-width: 90px;
    width: auto;
  }

  .article-votes-count {
    color:var(--ds-text);
  }

  .article-more-questions {
    margin: 10px 0 var(--comment-space);
    text-align: left;
  }

  .article-return-to-top {
    border-top: 1px solid #ddd;
  }

  @media (min-width: 1024px) {
    .article-return-to-top {
      display: none;
    }
  }

  .article-return-to-top a {
    color: $text_color;
    display: block;
    padding: 20px 0;
  }

  .article-return-to-top a:hover, .article-return-to-top a:focus {
    text-decoration: none;
  }

  .article-return-to-top-icon {
    transform: rotate(0.5turn);
  }

  .sidenav-title {
    font-size: 15px;
    position: relative;
    font-weight: 600;
  }

  .sidenav-item {
    border-radius: 4px;
    color: $text_color;
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 10px;
  }

  .sidenav-item.current-article, .sidenav-item:hover {
    background-color: $brand_color;
    color: $brand_text_color;
    text-decoration: none;
  }

  .recent-articles li,
  .related-articles li {
    margin-bottom: 15px;
  }

  /***** Comments *****/
  .comments {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: var(--comment-space) 0;
    margin-bottom: var(--comment-space);
  }

  @media (min-width: 1024px) {
    .comments {
      border-bottom: 0px;
    }
  }

  .comment-heading, .recent-articles-title,
  .related-articles-title {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
  }

  .comment-overview p {
    margin-top: 0;
  }

  .comment-callout {
    color: lighten($text_color, 20%);
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 0;
  }

  .comment-callout a {
    color: $brand_color;
  }

  .comment-sorter {
    display: inline-block;
    float: right;
  }

  .comment-sorter .dropdown-toggle {
    color: lighten($text_color, 20%);
    font-weight: 300;
    font-size: 13px;
  }

  [dir="rtl"] .comment-sorter {
    float: left;
  }

  .comment-wrapper {
    display: flex;
    position: relative;
  }

  .comment-wrapper.comment-official {
    border: 1px solid $brand_color;
    padding: var(--comment-space) 20px 20px;
  }

  @media (min-width: 768px) {
    .comment-wrapper.comment-official {
      padding-top: 20px;
    }
  }

  .comment-info {
    min-width: 0;
    padding-right: 20px;
    width: 100%;
  }

  [dir="rtl"] .comment-info {
    padding-right: 0;
    padding-left: 20px;
  }

  .comment-author {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .comment-author {
      justify-content: space-between;
    }
  }

  .comment-avatar {
    margin-right: 10px;
  }

  [dir="rtl"] .comment-avatar {
    margin-left: 10px;
    margin-right: 0;
  }

  .comment-meta {
    flex: 1 0 auto;
  }

  .comment-labels {
    flex-basis: 100%;
  }

  @media (min-width: 768px) {
    .comment-labels {
      flex-basis: auto;
    }
  }

  .comment .status-label:not(.status-label-official) {
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    .comment .status-label:not(.status-label-official) {
      margin-top: 0;
    }
  }

  .comment-form {
    display: flex;
    padding-top: 30px;
    word-wrap: break-word;
  }

  .comment-container {
    width: 100%;
  }

  .comment-form-controls {
    display: none;
    margin-top: 10px;
    text-align: left;
  }

  @media (min-width: 768px) {
    [dir="ltr"] .comment-form-controls {
      text-align: right;
    }
  }

  .comment-form-controls input[type="submit"] {
    margin-top: 15px;
  }

  @media (min-width: 1024px) {
    .comment-form-controls input[type="submit"] {
      margin-left: 15px;
    }
    [dir="rtl"] .comment-form-controls input[type="submit"] {
      margin-left: 0;
      margin-right: 15px;
    }
  }

  .comment-form-controls input[type="checkbox"] {
    margin-right: 5px;
  }

  .comment-form-controls input[type="checkbox"] [dir="rtl"] {
    margin-left: 5px;
  }

  .comment-ccs {
    display: none;
  }

  .comment-ccs + textarea {
    margin-top: 10px;
  }

  .comment-attachments {
    margin-top: 10px;
  }

  .comment-attachments a {
    color: $brand_color;
  }

  .comment-body {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    font-family: $text_font;
    line-height: 1.6;
    overflow-x: auto;
  }

  .comment-body img {
    height: auto;
    max-width: 100%;
  }

  .comment-body ul, .comment-body ol {
    padding-left: 20px;
    list-style-position: outside;
    margin: 20px 0 20px 20px;
  }

  [dir="rtl"] .comment-body ul, [dir="rtl"] .comment-body ol {
    padding-right: 20px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 20px;
  }

  .comment-body ul > ul, .comment-body ol > ol, .comment-body ol > ul, .comment-body ul > ol, .comment-body li > ul, .comment-body li > ol {
    margin: 0;
  }

  .comment-body ul {
    list-style-type: disc;
  }

  .comment-body a:visited {
    color: darken($link_color, 20%);
  }

  .comment-body code {
    background: darken($background_color, 3%);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 2px;
  }

  .comment-body pre {
    background: darken($background_color, 3%);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 15px;
    overflow: auto;
    white-space: pre;
  }

  .comment-body blockquote {
    border-left: 1px solid #ddd;
    color: lighten($text_color, 20%);
    font-style: italic;
    padding: 0 15px;
  }

  .comment-mark-as-solved {
    display: inline-block;
  }

  /* Link style */
  .article-more-questions a,
  .comment-callout a {
    color: var(--link-color);
    text-decoration: underline;
  }
</style>
