<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-container">
    <h1> {{ dc 'home_title' }} </h1>
    <div class="hero-inner">
      <h2 class="visibility-hidden">{{ t 'search' }}</h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <img src="{{asset 'ic-get-signatures.svg'}}" />
                <div class="blocks-item-title">{{name}}</div>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <img src="{{asset 'ic-get-signatures.svg'}}" />
                  <div class="blocks-item-title">{{name}}</div>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
  </section>
</div>

<script>
  (async () => {
    // Set home page blocks item icon.
    const blocksItems = document.querySelectorAll('.blocks-item');
    const blocksItemIcon = [
      "{{asset 'ic-get-started.svg'}}",
      "{{asset 'ic-navigation.svg'}}",
      "{{asset 'ic-signature.svg'}}",
      "{{asset 'ic-get-signatures.svg'}}",
      "{{asset 'ic-receive.svg'}}",
      "{{asset 'ic-tasks.svg'}}",
      "{{asset 'ic-member.svg'}}",
      "{{asset 'ic-security.svg'}}",
      "{{asset 'ic-settings.svg'}}",
      "{{asset 'ic-get-subscription.svg'}}",
      "{{asset 'ic-troubleshooting.svg'}}"
    ];

    blocksItems.forEach((item, inx) => {
      item.children[0].children[0].src = blocksItemIcon[inx];
    });
  })();
</script>

<style>
  .section {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    .section {
      margin-bottom: 60px;
    }
  }

  .home-section h2 {
    margin-bottom: 10px;
    text-align: center;
  }

  .hero {
    height: 170px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
  }

  .hero-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-container h1 {
    font-size: 24px;
    font-weight: bold;
  }

  @media (min-width: 768px) {
    .hero {
      height: 300px;
    }
    .hero-container h1 {
      font-size: 32px;
    }
  }

  .hero-inner {
    position: relative;
    max-width: 610px;
    margin: 0 auto;
  }
</style>
