<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<meta name="description" content="{{ dc 'document_head_description' }}">

<meta property="og:title" content="{{ dc 'dottedsign_title' }}" />
<meta property="og:description" content="{{ dc 'document_head_description' }}" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{asset 'share_card.png'}}" />
<meta property="og:image" content="{{asset 'share_card.png'}}" />

<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NG77922');</script>
<!-- End Google Tag Manager -->
