<footer class="footer">
  <div class="footer-inner">
    <div class="footer-container">
      <ul class="ds-group">
        <li>
          <a
            href="https://www.dottedsign.com/zh-tw/hellosign-alternatives"
            target="_blank"
          >{{ dc 'footer_switch_dottedSign' }}</a>
        </li>
        <li>
          <a
            href="https://www.dottedsign.com/zh-tw/apps-platforms"
            target="_blank"
          >{{ dc 'footer_apps' }}</a>
        </li>
        <li>
          <a
            href="https://blog.dottedsign.com/"
            target="_blank"
          >{{ dc 'footer_blog' }}</a>
        </li>
        <li>
          <a href="javascript:;">{{ dc 'footer_help_center' }}</a>
        </li>
        <li>
          <a
            href="https://cloud.kdanmobile.com/zh-tw/share/folder/NEE0S0gyWHM3NzkwNDR3dW5BbUluZA=="
            target="_blank"
          >{{ dc 'footer_presskit' }}</a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/DottedSign/"
            target="_blank"
          >
            <div class="footer-icon-facebook"></div>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/showcase/dottedsign/"
            target="_blank"
          >
            <div class="footer-icon-linkedin"></div>
          </a>
        </li>
      </ul>
      <div class="divider"></div>
      <ul class="kdan-group">
        <li><a
            href="https://www.kdanmobile.com/zh-tw"
            target="_blank"
            style="margin-top: 1px;"
          >
            <div class="footer-icon-kdanmobile"></div>
          </a></li>
        <li><a
            href="https://www.kdanmobile.com/zh-tw/contact"
            target="_blank"
          >{{ dc 'footer_contactus' }}</a></li>
        <li><a
            href="https://www.dottedsign.com/zh-tw/terms_of_service"
            target="_blank"
          >{{ dc 'footer-termOfService' }}</a></li>
        <li><a
            href="https://www.dottedsign.com/zh-tw/privacy_policy"
            target="_blank"
          >{{ dc 'footer_privacyPolicy' }}</a></li>
        <li><a
            href="https://www.dottedsign.com/zh-tw/security"
            target="_blank"
          >{{ dc 'footer_security' }}</a></li>
        <li>
          <div class="footer-language-selector">
            {{#if alternative_locales}}
            <div class="dropdown language-selector">
              <button
                class="dropdown-toggle"
                aria-haspopup="true"
              >
                {{current_locale.name}}
                <span class="footer-language-arrow"></span>
              </button>
              <span
                class="dropdown-menu dropdown-menu-end"
                role="menu"
              >
                {{#each alternative_locales}}
                <a
                  href="{{url}}"
                  dir="{{direction}}"
                  rel="nofollow"
                  role="menuitem"
                >
                  {{name}}
                </a>
                {{/each}}
              </span>
            </div>
            {{/if}}
          </div>
        </li>
    </div>
  </div>
  </div>
  <div class="copy-right">
    <span>© 2009-<span class="copy-right-year"></span></span>
    <span>Kdan Mobile Software Ltd. All Rights Reserved.</span>
  </div>
</footer>

<script>
  (async () => {
    // Copyright year
    const year = new Date().getFullYear();
    $('.copy-right-year').innerHTML = year;

    // Language arrow change handle
    const dropdownToggle = $('.footer .dropdown-toggle');
    const languageArrow = $('.footer-language-arrow');
    const dropdownMenu = $('.footer .dropdown-menu');

    dropdownToggle.addEventListener('click', () => {
      languageArrow.classList.toggle('up');
    });
    dropdownToggle.addEventListener('blur', (event) => {
      if (dropdownMenu.getAttribute('aria-expanded')) {
        languageArrow.classList.remove('up');
        setTimeout(() => { dropdownMenu.setAttribute('aria-expanded', false) }, 200);
      }
    });
  })();
</script>

<style>
  .footer {
    background-color: rgb(215, 222, 249);
    border-top: 1px solid #ddd;
    margin-top: 60px;
    width: 100%;
    position: relative;
    padding: 10px 8px 57px;
  }

  .footer::after {
    content: '';
    display: table;
    clear: both;
  }

  .footer a {
    color: lighten($text_color, 20%);
  }

  .footer-inner {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1160px) {
    .footer-inner {
      padding: 0 5%;
      width: 90%;
    }
  }

  .footer-language-selector {
    color: lighten($text_color, 20%);
    display: inline-block;
    font-weight: 300;
    margin: 10px 14px;
  }

  .footer-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 800px;
    margin: auto;
  }

  .footer-container .ds-group {
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-container .ds-group li,
  .footer-container .kdan-group li {
    display: inline-flex;
    align-items: center;
  }

  .footer-container .ds-group li a,
  .footer-container .kdan-group li:not(:last-child) a {
    font-weight: 500;
    color: var(--footer-color);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin: 10px 12px;
  }

  .footer-container .divider {
    width: 100%;
    height: 1px;
    background-color: var(--footer-color);
    margin-bottom: 10px;
  }

  .footer-container .kdan-group {
    display: flex;
    padding: 12px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .copy-right {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: center;
  }

  .copy-right>span {
    display: block;
  }

  @media (min-width: 768px) {

    .footer-container .ds-group li a,
    .footer-container .kdan-group li:not(:last-child) a {
      font-size: 16px;
      margin: 10px 14px;
    }

    .footer-container .divider {
      margin-bottom: 20px;
    }

    .copy-right>span {
      display: inline-block;
    }
  }

  .footer-icon-kdanmobile {
    width: 105px;
    height: 24px;
    background-image: url(https://www.dottedsign.com/static/icons/footer/ic-kdanmobile.svg);
    background-repeat: no-repeat;
  }

  .footer-icon-facebook {
    width: 10px;
    height: 17px;
    background-image: url(https://www.dottedsign.com/static/icons/footer/ic-facebook.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .footer-icon-linkedin {
    width: 24px;
    height: 24px;
    background-image: url(https://www.dottedsign.com/static/icons/footer/ic-linkedin.svg);
    background-repeat: no-repeat;
    margin: -3px auto;
  }

  .footer-language-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }

  .footer-language-arrow.up {
    transform: rotate(180deg);
  }

  .footer .dropdown {
    width: 120px;
  }

  .footer .dropdown-toggle {
    background: var(--footer-color);
    padding: 4px 8px;
    font-weight: 400;
  }

  .footer .dropdown-menu {
    background: var(--footer-color);
    font-size: 12px;
    width: 100%;
    padding: 0;
    border-radius: 4px;
  }

  .footer .dropdown-menu a {
    color: #ffffff;
    padding: 8px 10px;
    font-weight: 500;
  }

  .footer .dropdown-menu-end {
    left: 0px;
    right: 0px;
    bottom: calc(100% + 1px);
  }
</style>